---
import { Image } from "astro:assets";
import { Badge } from "./ui/badge";
import { buttonVariants } from "./ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

type Image = {
  src: ImageMetadata;
  alt: string;
};

export type Project = {
  title: string;
  description: string;
  image: Image;
  tags: string[];
  codeLink?: string;
  demoLink?: string;
};

interface Props extends Project {}

const { image, tags, title, description, demoLink, codeLink } = Astro.props;

const defaultButtonClass = buttonVariants({ variant: "default" });
const outlineButtonClass = buttonVariants({ variant: "outline" });
---

<Card className="group overflow-hidden flex flex-col">
  <div class="h-52 overflow-hidden">
    <Image class="object-cover w-full" src={image.src} alt={image.alt} />
  </div>
  <div class="flex flex-col justify-between grow">
    <CardHeader className="space-y-2.5">
      <ul class="flex gap-1 capitalize" aria-label="Technologies used">
        {
          tags.map((tag) => (
            <li>
              <Badge variant="outline">{tag}</Badge>
            </li>
          ))
        }
      </ul>
      <CardTitle>{title}</CardTitle>
    </CardHeader>
    <div class="flex flex-col grow justify-between">
      <CardContent>
        <CardDescription className="line-clamp-2">
          {description}
        </CardDescription>
      </CardContent>
      <CardFooter className="space-x-2">
        <a
          class:list={[
            "grow",
            outlineButtonClass,
            !codeLink && "opacity-50 pointer-events-none",
          ]}
          href={codeLink}
        >
          View Code
        </a>
        <a
          class:list={[
            "grow",
            defaultButtonClass,
            !demoLink && "opacity-50 pointer-events-none",
          ]}
          href={demoLink}
        >
          View Demo
        </a>
      </CardFooter>
    </div>
  </div>
</Card>
